---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* Dark Mode Styles */
html[data-theme="dark"] {
  background-color: $dark-background-color;
  color: $dark-text-color;

  a {
    color: #6ba3d4;
    
    &:visited {
      color: #9b8fd4;
    }
  }

  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code {
    background: $dark-code-background-color;
    border-color: #444;
    color: #e0e0e0;
  }

  hr {
    border-top-color: $dark-border-color;
  }

  blockquote {
    border-left-color: #6ba3d4;
  }

  abbr[title],
  abbr[data-original-title] {
    border-bottom-color: $dark-text-color;
  }

  .paper-box {
    border-bottom-color: #333;

    .paper-box-image img {
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
      background-color: #fff;
      padding: 5px;
      border-radius: 4px;
    }
  }

  .badge {
    background-color: #0055cc;
  }

  /* Images keep white background */
  img {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  /* Icons and SVGs keep white background */
  i[class*="fa"],
  span[class*="fa"],
  .fa {
    background-color: #fff !important;
    color: #000 !important;
    padding: 5px;
    border-radius: 4px;
  }

  /* Social icons white background */
  .author__urls a i,
  .author__urls_sm a i,
  .social-icons i {
    background-color: #fff !important;
    color: #000 !important;
    padding: 8px;
    border-radius: 4px;
    margin-right: 5px;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;

    tr {
      border-bottom: 1px solid $dark-border-color;
    }

    th, td {
      padding: 0.5em;
      border: 1px solid $dark-border-color;
      background-color: #1a1a1a;
    }

    th {
      font-weight: bold;
      background-color: #262626;
    }
  }

  .notice {
    background-color: #1a1a1a;
    border-left-color: #6ba3d4;
    color: $dark-text-color;

    strong {
      color: $dark-text-color;
    }
  }

  /* Masthead dark mode */
  .masthead {
    background-color: $dark-body-color;
    border-bottom-color: #333;

    a {
      color: #6ba3d4;
      text-decoration: none;

      &:hover {
        color: #a5d3ff;
      }
    }
  }

  /* Sidebar dark mode */
  .sidebar {
    color: $dark-text-color;

    .author__urls {
      background: transparent;
      border-color: transparent;

      &:before {
        border-color: transparent transparent;
      }

      &:after {
        border-color: transparent transparent;
      }

      a {
        color: #6ba3d4;

        &:hover {
          color: #a5d3ff;
        }
      }
    }

    .author__avatar img {
      border-color: #333;
    }

    .profile_box {
      background-color: transparent !important;
    }
  }

  /* Profile box dark mode */
  .profile_box {
    background-color: transparent !important;

    .author__content {
      background-color: transparent;
    }

    .author__urls-wrapper {
      background-color: transparent;
    }

    .author__urls_sm {
      background-color: transparent;

      a {
        color: #6ba3d4;

        &:hover {
          color: #a5d3ff;
        }
      }
    }
  }

  /* Dark mode toggle button visibility */
  #dark-mode-toggle {
    color: $dark-text-color !important;
    font-size: 1.5em !important;
  }

  /* Navigation dark mode */
  .greedy-nav {
    background: $dark-body-color;
    border-bottom-color: #333;

    a {
      color: #6ba3d4;

      &:hover {
        color: #a5d3ff;
      }
    }

    button {
      color: $dark-text-color;

      &:hover {
        color: #a5d3ff;
      }
    }
  }

  /* Footer dark mode */
  .page__footer {
    background-color: $dark-body-color;
    color: $dark-text-color;
    border-top-color: #333;

    a {
      color: #6ba3d4;

      &:hover {
        color: #a5d3ff;
      }
    }
  }

  /* Buttons dark mode */
  .btn {
    background-color: #262626;
    color: $dark-text-color;
    border-color: #444;

    &:hover {
      background-color: #333;
      color: #a5d3ff;
    }
  }

  /* Search form dark mode */
  .search__toggle {
    color: $dark-text-color;

    &:hover {
      color: #a5d3ff;
    }
  }

  input[type="search"],
  input[type="text"],
  textarea {
    background-color: #262626;
    color: $dark-text-color;
    border-color: #444;

    &:focus {
      background-color: #333;
      border-color: #6ba3d4;
    }
  }
}

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}